.controls {
  background-color: rgba(36, 36, 36, 0.2);
  padding: 0.25em;
}

.control {
  margin-right: 0.25em;
}

.control__button {
  align-items: center;
  appearance: none;
  border: none;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  padding: 0;
  width: 32px;
}

.control__button--emoji {
  font-size: 1.1em;
}
