.controls {
  background-color: rgba(36, 36, 36, 0.2);
  padding: 0.25em;
}

.control {
  margin-right: 0.25em;
}

.control__button {
  width: 2em;
}

.control__bold {
  font-weight: bold;
}

.control__italic {
  font-style: italic;
}

.control__underline {
  text-decoration: underline;
}

.control__strike-through {
  text-decoration: line-through;
}
